body {
    background-color: #000000;
    color: #555555;
    font-size: 25px;
    font-style: oblique;
}
h1 {
    font-size: 45px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 35px;
}
h4 {
    font-size: 30px;
}
p {
    font-size: 30px;
}
img {
    max-height: 400px;
    max-width: 100%;
}