* {
    color: hsla(270, 50%, 25%, 1);
    font-size: 25px;
    font-style: oblique;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /*outline: 2px solid red;*/
}
html {
    background: hsla(0, 0%, 0%, 1);
    margin: 0px;
}
h1 {
    font-size: 45px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 35px;
}
h4 {
    font-size: 30px;
}
p {
    font-size: 30px;
}
img {
    height: auto;
    width: auto;
    max-width: 25vw;
}
a {
    color: #555566;
}

#title {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #372a4b;
    font-size: 47px;
}

/* Body layout */
body {
    display: grid;
    grid-template-areas: "header" "content-area" "footer";
    margin: 10px;
}
header {
    grid-area: header;
    padding: 10px;
    text-align: center;
}
footer {
    grid-area: footer;
    padding: 10px;
    text-align: center;
}
.content-area {
    grid-area: content-area;
    display: grid;
    grid-template-areas:"left-side-bar recipe-area right-side-bar";
    justify-content: center;
}

.recipe-area {
    grid-area: recipe-area;
}
.left-side-bar {
    grid-area: left-side-bar;
    display: grid;
    grid-template-areas: "quick-links" "social-media" "ads";
    grid-gap: 20px;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
}
.quick-links {
    grid-area: quick-links;
}

.ingridients {
    color: #29196e;
}

.facts,
.nutrition {
    font-size: 26px;
    color: #b16824;
}

.steps {
    font-size: 33px;
    color: #3c6197;
}

.image-text {
    display: flex;
}

.image-text-image {
    flex: 1;
}

.image-text-text {
    flex: 6;
}
